:root {
  --shad: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

body,
h1,
h2 {
  margin: 0%;
  padding: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* PAGE 1 */
.page1 {
  width: 1500px;
  height: 1125px;
  background: no-repeat url("../assets/img/p1.png");
  background-size: cover;
  color: white;
}

.page1-container {
  padding-top: 9rem;
  padding-left: 4.5rem;
}

.covid {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: var(--shad);
}

.title {
  margin-top: 1rem;
  line-height: 4rem;
  font-size: 4rem;
  text-shadow: var(--shad);
  letter-spacing: 1px;
}

.list {
  padding-left: 0%;
  list-style: none;
  font-size: 2rem;
  font-weight: 0.5rem;
  text-shadow: var(--shad);
  padding-left: 0.1rem;
}

.logo > img {
  width: 16%;
}

/* PAGE 2 */

.page2 {
  width: 1500px;
  height: 1125px;
  background: no-repeat url("../assets/img/p2.png");
  background-size: cover;
  color: white;
}

.title2-container {
  padding-top: 7rem;
  padding-left: 4.5rem;
}

.thermal {
  font-size: 6.4rem;
  text-shadow: var(--shad);
}

.temp {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 0px;
  text-shadow: var(--shad);
  line-height: 3rem;
}

.logo2 {
  margin-top: 49%;
  margin-left: 2%;
  display: flex;
}

.logo2 > img {
  width: 15%;
}

.btn-cont {
  margin-left: 33%;
}

.btn-cont > .btn {
  border: none;
  background-color: white;
  padding: 0.6rem 1rem;
  color: #7f7f7f;
  font-size: 1.3rem;
}
