:root {
  --shad: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);

  --grad: linear-gradient(to bottom, #0000009a, #0000005e, transparent);
  --grad-bottom: linear-gradient(to top, #00000075, #00000041, transparent);
}

body,
h1,
h2 {
  margin: 0%;
  padding: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* PAGE 1 */

.page1 {
  width: 1500px;
  height: 1125px;
  background: no-repeat url("../assets/img/p1.png");
  background-size: cover;
  color: white;
}

.page1-container {
  padding-top: 9rem;
  padding-left: 4.5rem;
}

.covid {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: var(--shad);
}

.title {
  margin-top: 1rem;
  line-height: 4rem;
  font-size: 4rem;
  text-shadow: var(--shad);
  letter-spacing: 1px;
}

.list {
  padding-left: 0%;
  list-style: none;
  font-size: 2rem;
  font-weight: 0.5rem;
  text-shadow: var(--shad);
  padding-left: 0.1rem;
}

.logo > img {
  width: 16%;
}

/* PAGE 2 */

.page2 {
  width: 1500px;
  height: 1125px;
  background: no-repeat, url("../assets/img/p2.png");
  background-size: cover;
  color: white;
}

.title2-container {
  padding-top: 7rem;
  padding-left: 4.5rem;
}

.thermal {
  font-size: 6.4rem;
  text-shadow: var(--shad);
}

.temp {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 0px;
  text-shadow: var(--shad);
  line-height: 3rem;
}

.logo2 {
  margin-top: 49%;
  margin-left: 6%;
  display: flex;
}

.logo2 > img {
  width: 13%;
}

.btn-cont {
  margin-left: 33%;
}

.btn-cont > .btn {
  border: none;
  background-color: white;
  padding: 0.6rem 1rem;
  color: #7f7f7f;
  font-size: 1.3rem;
}

/* PAGE 3 */

.page3 {
  width: 1500px;
  height: 1125px;
}

.title3-container {
  padding-top: 2rem;
  padding-left: 4.5rem;
}

.dome {
  font-size: 5rem;
}

.type {
  font-size: 4rem;
  color: #7f7f7f;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.04rem;
}

.tab {
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.tab p {
  font-size: 2rem;
}

tbody th {
  color: grey;
  font-weight: 400;
}
table tr {
  text-align: left;
  font-size: 2rem;
}

table td {
  font-weight: 500;
}

table tr th,
td {
  padding-right: 5rem;
}

.logo-temp {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-right: 4rem;
}

.btn-cont-p3 {
  margin-right: 23rem;
  /* font-size: 3rem; */
}

.btn-cont-p3 > .btn-p3 {
  border: none;
  background-color: white;
  padding: 0.6rem 1rem;
  color: #7f7f7f;
  font-size: 1.5rem;
}

/* PAGE 4 */

.page4 {
  width: 1500px;
  height: 1125px;
  background: no-repeat url("../assets/img/p4.png");
  background-size: cover;
  color: white;
}

/* CLOSING SECTION */

.closing {
  width: 1500px;
  height: 1125px;
  background: no-repeat, var(--grad), url("../assets/img/p44.jpg");
  /* background: var(--grad-bottom); */
  background-size: cover;
  color: white;
}

.closing-container {
  padding-top: 9rem;
  padding-left: 4.5rem;
}

.closing-logo > img {
  width: 80%;
}

.closing-logo {
  line-height: 1.2rem;
  width: 30%;
}

.closing-logo > p {
  font-weight: 100;
  color: #d9d9d9;
  font-size: 1.1rem;
  width: 80%;
  margin: 0;
  line-height: 1.5rem;
}

.logo-box {
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  line-height: 1rem;
}

.bottom {
  font-size: 1.5rem;
  line-height: 1.4rem;
}

.bottom > p {
  margin-top: 0;
  margin-bottom: 0;
}

.top > p {
  margin-top: 0.7rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.by {
  background-color: #ffffff;
  margin-left: 8rem;
  width: 35%;
  height: auto;
  border-radius: 1rem;
}

.by > p {
  font-size: 1.5rem;
  color: grey;
  margin: 0;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.list-closing {
  padding-left: 0%;
  list-style: none;
  font-size: 2rem;
  font-weight: 200;
  text-shadow: var(--shad);
  padding-left: 0.1rem;
  font-weight: 400;
}

/* PAGE 3 */

/*
.page3 {
  width: 1500px;
  height: 1125px;
}

.title3-container {
  padding-top: 2rem;
  padding-left: 4.5rem;
}

.cam {
  font-size: 5rem;
}

.check {
  font-size: 4.5rem;
  color: #7f7f7f;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.04rem;
}

.img-row > img {
  margin: 3rem 5rem;
  width: 15%;
  height: 20%;
}

.title-row {
  columns: 3;
}
.img-row {
  margin-left: 15rem;
  display: flex;
  align-items: flex-end;
}

.title-row > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.title-row > h1:nth-of-type(1) {
  text-align: right;
}

.title-row > h1:nth-of-type(3) {
  padding-left: 4rem;
}

.detail-row {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 0.7rem;
}

.row1 {
  margin-right: 9rem;
}

.row2 {
  margin-right: 9rem;
}
.row3 {
  margin-right: 9rem;
}

.fade-text {
  color: #7f7f7f;
} */

/* PAGE 7 */

.page7 {
  width: 1500px;
  height: 1125px;
}

.title7-container {
  padding-top: 2rem;
  padding-left: 4.5rem;
}

.dome {
  font-size: 5rem;
}

.type {
  font-size: 4.5rem;
  color: #7f7f7f;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.04rem;
}

.row-id {
  margin-top: 8rem;
  margin-left: 5rem;
  display: flex;
}

.table-single {
  margin-top: 8rem;
  margin-left: 8.55rem;
  width: 100%;
}

.table-single th {
  text-align: left;
}

.table-single td {
  /* padding-right: 2rem; */
  font-size: 2rem;
}

.table-single tr > .table-single {
  font-weight: 600;
  margin-top: 3rem;
}

.cam-name {
  padding-bottom: 1rem;
  font-size: 3rem;
}

.cam-img {
  width: 50%;
}
tr > td:nth-child(2) {
  font-weight: 500;
}
tr > td:nth-child(1) {
  padding-right: 8rem;
  color: grey;
}
